<%= form_with(model: wiki_post) do |form| %>
  <% if wiki_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wiki_post.errors.count, "error") %> prohibited this wiki_post from being saved:</h2>

      <ul>
        <% wiki_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title, "Post Title" %>
  <%= form.text_field :title %>

  <%= form.label :title, "Author" %>
  <%= form.text_field :author %>

  <%= form.label :title, "Post Image" %>
  <%= form.file_field :image %>

  <%= form.label :title, "Description" %>
  <%= form.text_field :description %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
