<p style="color: green"><%= notice %></p>

<%= render @wiki_post %>



<div class="wiki_post">
  <span class="wiki_post title">
    Title:
    <%= @wiki_post.title %>
  </span>

  <span class="wiki_post id">
    ID:
    <%= @wiki_post.id %>
  </span>

  <span class="wiki_post image">
    Image:
    <%= @wiki_post.image %>
  </span>

  <span class="wiki_post author">
    Author:
    <%= @wiki_post.author %>
  </span>

  <span class="wiki_post description">
    Description:
    <%= @wiki_post.description %>
  </span>

  <span class="wiki_post publish_date">
    Publish Date:
    <%= @wiki_post.created_at %>
  </span>

  <span class="wiki_post update_date">
    Last Update:
    <%= @wiki_post.updated_at %>
  </span>
</div>

<div>
  <%= link_to "Edit this wiki post", edit_wiki_post_path(@wiki_post) %> |
  <%= link_to "Back to wiki posts", wiki_posts_path %>

  <%= button_to "Destroy this wiki post", @wiki_post, method: :delete %>
</div>
